.Landing-footer{
    /* width: Fixed (1,348px)px;
    height: Hug (60px)px; */
    top: 2121px;
    left: 26px;
    padding: 16px 32px 16px 32px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
}
.footer-content{
    background: linear-gradient(90deg, #318FFF -20.96%, #FA1AFF 179.64%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    border-radius: 12px;
}.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a:hover {
    color: #e0e0e0;
}
.footer-trademark{
    margin: 1%;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;

}