/* #Search-Nav-Container{
    position: absolute;
    top: 2%;
    width: 96%;
    height: 20vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 2% 2% 2% 2%;
    background: rgba(245, 249, 255, 1);

} */
.Search-Nav {
  margin: 2%;
  /* position: absolute; */
  /* top: 2%; */
  width: 96%;
  /* height: 20vh; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 2% 2% 2% 2%;
  background: linear-gradient(
    90deg,
    rgba(254, 118, 117, 0.2) 0%,
    rgba(204, 129, 185, 0.2) 34.2%,
    rgba(26, 168, 210, 0.2) 68.81%,
    rgba(76, 210, 217, 0.2) 100%
  );
}

.Search-Nav-Items {
  display: flex;
  margin: 2%;
}
.Search-nav-logo {
  display: flex;
  width: 90px;
  height: 34.66px;
  /* background: #fff; */
  border-radius: 10px;
}

.Search-nav-links {
  gap: 40px;
  display: inline-flex;
  align-items: center;
  margin: auto;
}
.Search-navlink {
  text-decoration: none;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: center;
  color: #000000;
}

.Search-nav-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
}

#search-signup-btn {
  background-color: inherit;
  color: #333;
  border: 1px solid #000000;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
}
#search-login-btn {
  background: #0069e5;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  border: 1px solid #fff;
}
#SearchHeader-search-button{
  left: 0;
  position: absolute;
  /* margin-bottom: 10px; */
  top: 15%;
  right: 4%;
  color: white;
  border-radius: 25px;
  background: linear-gradient(94.96deg, #5ea7ff -9.81%, #8c1aff 119.93%);
}
.SearchHeader-navbar {
  width: 96%;
  height: 20vh;
  top: 26px;
  left: 26px;
  padding: 20px 32px 20px 32px;
  gap: 0px;
  border-radius: 20px;
  justify: space-between;
  opacity: 0px;
  background: linear-gradient(90deg, #f5f9ff 0%, #fff5fe 100%);
  display: flow;
}
#searchbar-box {
  /* position: absolute; */
  height: 7vh;
  width: 75%;
  margin: auto;
  /* left: 12%;
    top: 20%; */
  /* background: #fff;
    border: 1px solid black; */
  border-radius: 54px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.SearchHeader-navbarContainer {
  width: 95%;
  margin: auto;
  display: flex;
}

.searchHeader-container {
  /* position: absolute; */
  width: 60%;
  display: flex;
  /* border: 1px solid; */
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  /* top: 65%; */
  height: 15vh;
  left: 25%;
  margin: auto;
}

.searchHeader-searchbar {
  position: absolute;
  left: 12.5%;
  top: 10%;
  width: 75%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto 0; */
  margin: auto;
}
.searchHeader-searchicon {
  position: absolute;
  left: 28.5%;
  /* top: 30%; */
  z-index: 1;
  color: black;
}

.searchHeader-autocomplete {
  /* position: absolute;  */
  /* left: 7.5%; */
  /* top: 0%; */
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto 0; */
  margin: auto;
}
.MuiOutlinedInput-root {
  box-shadow: 0px 11px 34.1px 0px rgba(0, 0, 0, 0.125);
}
.MuiAutocomplete-root .MuiOutlinedInput-root {
  height: 46px;
}
/* .MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  margin-right: 17% !important;
} */
.searchHeader-dropdown-div {
  position: absolute;
  width: 6%;
  right: 28%;
  /* top: 0%; */
  height: 7vh;
}
.searchHeader-dropdown {
  position: absolute;
  /* width: 100%; */

  right: 0%;
  top: 0%;
  height: 7vh;
  border: none;
  background: inherit;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 0 54px 54px 0;
}
.searchLoader {
  margin-top: 15px;
}
